<html>
    
          <%- include('header'); -%>
          <video class="img-fluid video" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay muted loop>
            <source src="https://mulaitech.com/finalproject/images/menu.mp4" type="video/mp4">
        </video>
        <div class="text-video">
          <h3 class="text-color-white"><strong>Jogja's</strong> <strong class="text-color-orange">Finest</strong> <strong class="text-color-white">Italian Cuisine</strong></h3>
        </div>      
          <section class="sec1 bg-color-blue">
            <div class="container">
              <div class="row">
                <div class="offset-sm-2 col-sm-8">
                  <div class="headerText text-center">
                    <h2>Our Signature</h2> 
                    <p>
                        Our best food, a food that made our Restaurant known to people <br>across the globe
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                  <img class="warna-gelap" src="images/pizza.png" alt="pizza">
                </div>
                <div class="col-sm-4">
                  <div class="warna-gelap text-color-white">
                    <center>
                      <h1>Salami Pizza</h1>
                      <p class="text-color-white">Enjoy this flavorful Italian Salami Pizza using authentic Italian Salami, 
                        <br>homemade marinara sauce, and fresh vegetables</p>
                    </center>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
            <br> <br>
          </section>
          <br> <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <center>
                  <h1 class="text-color-orange">Buongiorno!!</h1>
                  <p>Eating is happiness! We are La Trattoria da Malioboro, or The Malioboro Tavern, a little tavern situated in Malioboro 50m from 0KM established in 2017. 

                    Enjoy our traditional Italian cuisine while experiencing the hustle and bustle from The Heart city of Yogyakarta. Our food is prepared with the highest quality ingredients. It is part of a cooking science that we have carefully formulated to serve to you delicious tasting food at an affordable price.
                    </p>
                </center>
              </div>
              <div class="col-sm-4">
                <img class="img-fluid" src="images/restoran.png" alt="">
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
          <%- include('footer'); -%>
</html>