<html>
  <%- include('header'); -%>
          <div class="jumbotron jumbotron-fluid height100p banner-menu" style="background: url(https://mulaitech.com/finalproject/images/jumbotron-staff.jpg);">
            <div class="container h100">
              <div class="contentBox h100">
                <div>
                  <h3 class="text-color-white"><strong>The Finest Selection</strong></h3>
                </div>
              </div>
            </div>
          </div>
      <!--mulai dari sini ya ko ngeditnya-->
      <section>
            <div class="container">
              <div class="row">
                <div class="offset-sm-2 col-sm-8">
                  <div class="headerText text-center">
                    <h2>Our Best Seller</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <img class="warna-gelap" src="images/salami-pizza.png" alt="salami pizza">
                </div>
                <div class="col-sm-4">
                  <img class="warna-gelap" src="images/mushroom-ravioli.png" alt="mushroom ravioli">
                </div>
                <div class="col-sm-4">
                  <img class="warna-gelap" src="images/spaghetti.png" alt="spaghetti">
                </div>
              </div>
            </div>
            <br> <br>
          </section>
             <section class="sec1 bg-color-blue">
            <div class="container">
              <div class="row">
                <div class="offset-sm-2 col-sm-8">
                  <div class="headerText text-center">
                    <h2>Our Menu</h2>
                     <p>
                        <strong>Culmination of tear and blood from the best Chef <br>we`ve ever had</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-2"></div>
                    <img class="img-fluid" src="images/menu.png" alt="menu">
              </div>
            </div>
            <br> <br>
          </section>
     
     
          <!--sampai sini aja ko ngeditnya-->
          <%- include('footer'); -%>
</html>
<!--sip ko mantap-->
<!--seuppp-->