<html>
  <%- include('header'); -%>
          <div class="jumbotron jumbotron-fluid height100p banner-reservasi" id="home">
            <div class="container h100">
              <div class="contentBox h100">
                <div>
                  <h3 class="text-color-white"><strong>The Best Food for The Best Moment</strong></h3>
                </div>
              </div>
            </div>
          </div>
      
        <section class="sec1 bg-color-blue" id="explore">
            <div class="container">
              <div class="row">
                <div class="offset-sm-2 col-sm-8">
                  <div class="headerText text-center">
                    <h1 class="text-color-orange">Group Reservation</h1>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <p>A birthday, a banquet or even an end-of-year meal with colleagues? For a group reservation of more than 10 people, please contact the restaurant by email: La_Trattoria_da_Malioboro@hotmail.com</p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-fluid" src="images/gambar-reservasi.png" alt="">
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </section>
        <br> <br>
        <div class="container">
            <div>
                <center>
                    <h1 class="text-color-orange"><strong>Booking</strong></h1>
                </center>
            </div>
            <div>
                <center>
                    In order to avoid a long wait and to allow our 
                    <br>establishment to organize itself in the best way, 
                    <br>you can reserve your table by completing the form below. 
                    <br><br>NB: The reservation on Friday and Saturday evening 
                    <br>is only available for the first service from 7 p.m. to 8:30 p.m.
                    <br><br>
                </center>
            </div>
        </div>
        <div>
        <div class="container">
            <center>
              <div class="border-form">
                <div class="judul-form">
                    <center class="text-color-white">Boking form</center>
                </div>
                <form action="/save" method="post">
                    <div><p><center><strong>To Book A Table</strong></center></p></div>
                <div class="form-group">
                    <label for="form-date"><center>Date</center></label>
                    <input type="text" class="form-control" id="form-date" placeholder="HH-MM-TTTT" name="tang_res" required>
                </div>
                <div class="form-group">
                    <label for="form-hour"><center>Hour</center></label>
                    <input type="text" class="form-control" id="form-hour" placeholder="hh:mm pm" name="hour_res" required>
                </div>
                <div class="form-group">
                    <label for="form-people">People(1-10)</label>
                    <input type="number" class="form-control" id="form-people" placeholder="0" ng-model='form.people' name="people_res" required>
                </div>
                <div><p><center><strong>Contact Information</strong></center></p></div>
                <div class="form-group">
                    <label for="form-name"><center>Name</center></label>
                    <input type="text" class="form-control" id="form-name" placeholder="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="form-email"><center>Email</center></label>
                    <input type="email" class="form-control" id="form-email" placeholder="name@example.com" name="email" required>
                </div>
                <div class="form-group">
                    <label for="form-phone"><center>Phone</center></label>
                    <input type="number" class="form-control" id="form-phone" placeholder="0812345678" name="phone" required>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Reservation Request</button>
                </div>
                </form>
                <br>
            </div>
            </center>
        </div>          
            <br> <br>
            <%- include('footer'); -%>
</html>