<html>
  <%- include('header'); -%>
          <div class="jumbotron jumbotron-fluid height100p banner-reservasi banner-staff" id="home">
            <div class="container h100">
              <div class="contentBox h100">
                <div>
                  <h3 class="text-color-white"><strong>THE REAL EXPERT</strong></h3>
                </div>
              </div>
            </div>
          </div>
      
            <div class="container">
              <div class="row">
                <div class="offset-sm-2 col-sm-8">
                  <div class="headerText text-center">
                    <h2>Our Staff</h2>
                     <p>
                        <strong>The man behind a curtain</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

        <div class="container">
              <div class="row">
                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/riko.jpeg" alt="">
                   <div class="buathover">
                      <div class="tulisannya">Riko Aditya N
                        <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                      </div>
                      
                    </div>
                </div>
                </div>

                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/krisna.jpeg" alt="">
                  <div class="buathover">
                    <div class="tulisannya">
                      Jend.Krisna P.
                      <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                    </div>
                </div>
                </div>
                </div>

                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/afi.jpeg" alt="">
                  <div class="buathover">
                    <div class="tulisannya">Chairunissa
                      <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                    </div>
                </div>
                </div>
              
              </div>
        </div>
          <br> <br>
        <div class="container">
              <div class="row">
                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/ferdi.jpeg" alt="">
                  <div class="buathover">
                    <div class="tulisannya">Ferdi gangapangapain
                      <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                    </div>
                </div>
                </div>
                </div>
                
                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/akmal.jpeg" alt="">
                  <div class="buathover">
                    <div class="tulisannya">Akmal ganteng
                      <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                    </div>
                </div>
                </div>
                </div>

                <div class="wadah">
                <div class="col-sm-4">
                  <img class="gambarnya" src="images/tiya.jpeg" alt="">
                  <div class="buathover">
                    <div class="tulisannya">Tiyaa
                      <br>
                      <button class="button-lanjut"><a href="/krisna-prihadiyanto">Lihat</a></button>
                    </div>
                </div>
                </div>
              
              </div>
        </div>


            <br> <br>
            <%- include('footer'); -%>
</html>
