<html>
  <%- include('header'); -%>
          <div class="jumbotron jumbotron-fluid height100p banner-thanks">
            <div class="container h100">
              <div class="contentBox h100">
                <div>
                  <!-- <h3 class="text-color-white"><strong>Jogja's</strong> <strong class="text-color-orange">Finest</strong> <strong class="text-color-white">Italian Cuisine</strong></h3> -->
                </div>
              </div>
            </div>
          </div>
          <%- include('footer'); -%>
</html>